In [233]:
import pandas as pd
from utils.sheet_operator import expenses_sheet

In [225]:
df = expenses_sheet()

In [226]:
# ajustando a estrutura do DataFrame, removendo o cabeçalho e trazendo a 1a linha para as colunas
df.columns = df.iloc[0]
df = df[1:].reset_index().drop('index', axis=1)

In [227]:
# criando um dicionário para as categorias da planilha
categories_indices = df.index[df['filter'] == '1'].tolist()
categories_dict = dict()

for index in enumerate(categories_indices):
    next_index = df.index[-1] if index[0] == len(categories_indices)-1 else categories_indices[index[0]+1]
    category = df.iloc[index[1]]['Mês']
    categories_dict[category] = df.iloc[index[1]+1:next_index]['Mês'].tolist()

In [228]:
# removendo as categorias do DataFrame
df = df[df['filter'] != '1']
df = df.drop('filter', axis=1)

In [229]:
# ajustando a estrutura do DataFrame
df = df.transpose().reset_index()
df.columns = df.iloc[0]
df = df[1:].reset_index().drop('index', axis=1)

In [230]:
# ajustando as colunas de valores de gastos
for column in df.columns:
    if column != 'Mês':
        df[column] = df[column].str.strip().str.replace(r'^R\$', '', regex=True)
        df[column] = df[column].str.replace(r'\s+', '', regex=True)
        df[column] = df[column].str.replace(r'\.', '', regex=True)
        df[column] = df[column].str.replace(r',', '.', regex=True)
        df[column] = df[column].astype(float)

In [234]:
df['Mês'] = pd.to_datetime(df['Mês'])

/tmp/ipykernel_49479/3781474281.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Mês'] = pd.to_datetime(df['Mês'])

In [169]:
for i in categories_dict.keys():
    print(i)

DESPESAS COM PESSOAL
MENSAIS VARIÁVEIS - COBRADOS NO BOLETO CONDOMÍNIO
MENSAIS FIXO
MANUTENÇÃO E CONSERVAÇÃO - (Prováveis de ocorrer*)
DESPESAS DIVERSAS
DESPESAS ADMINISTRATIVAS

In [170]:
# criando dicionário para renomear colunas
rename_columns = {
    'Mês': 'mes',
    # DESPESAS COM PESSOAL
    'Total com Salários': 'total_salarios',
    'Total com Adiantamento salarial (sempre dia 20)': 'total_adiantamento_salarial',
    'Exame médico periódico': 'exame_medico_periodico',
    'Férias Vitamar': 'ferias_vitamar',
    'Férias Daniel': 'ferias_daniel',
    'Férias Fábio': 'ferias_fabio',
    'Férias Jailza': 'ferias_jailza',
    'Férias Joana': 'ferias_joana',
    'Férias Karla': 'ferias_karla',
    'Total com Décimo terceiro salário (1 parc - setembro)': 'decimo_terceiro_parcela_1',
    'Total com Décimo terceiro salário (2 parc - dezembro)': 'decimo_terceiro_parcela_2',
    'Ticket alimentação': 'ticket_alimentacao',
    'INSS': 'inss',
    'FGTS': 'fgts',
    'Pis sobre folha de pagamento': 'pis_folha_pagamento',
    'Vale Transporte': 'vale_transporte',
    'Seguro de vida dos funcionários': 'seguro_vida',
    'Uniformes': 'uniformes'
}

In [237]:
# renomeando colunas
columns = categories_dict['DESPESAS COM PESSOAL']
columns.insert(0, 'Mês')
df[columns].rename(columns=rename_columns)

,mes,total_salarios,total_adiantamento_salarial,exame_medico_periodico,ferias_vitamar,ferias_daniel,ferias_fabio,ferias_jailza,ferias_joana,ferias_karla,decimo_terceiro_parcela_1,decimo_terceiro_parcela_2,ticket_alimentacao,inss,fgts,pis_folha_pagamento,vale_transporte,seguro_vida,uniformes
0,2020-01-01,7000.00,0.33,0.53,0.31,0.85,0.08,0.45,0.73,0.20,0.69,0.62,0.34,0.40,0.54,0.05,0.35,0.44,0.87
1,2020-02-01,0.55,0.14,0.51,0.29,0.70,0.41,0.81,0.36,0.66,0.01,0.54,0.66,0.56,0.44,0.69,0.74,0.32,0.95
2,2020-03-01,0.34,0.85,0.18,0.31,0.91,0.11,1.00,0.44,0.16,0.53,0.39,0.16,0.32,0.15,0.15,0.50,0.39,0.09
3,2020-04-01,0.96,0.31,0.08,0.55,0.18,0.86,0.86,0.31,0.86,0.84,0.66,0.39,0.38,0.94,0.25,0.38,0.86,0.87
4,2020-05-01,0.18,0.86,0.70,0.95,0.95,0.49,0.52,0.69,0.57,0.25,0.63,0.31,0.26,0.29,0.03,0.47,0.56,0.17
5,2020-06-01,0.61,0.17,0.95,0.14,0.44,1.00,0.59,0.49,0.76,0.75,0.43,0.88,0.14,0.73,0.14,0.25,0.87,0.86
6,2020-07-01,0.12,0.46,0.64,0.27,0.08,0.86,0.90,0.69,0.72,0.72,0.09,0.74,0.91,0.99,0.35,0.76,0.51,0.26
7,2020-08-01,0.05,0.92,0.16,0.19,0.38,0.72,0.92,0.99,0.41,0.11,0.26,0.13,0.60,0.28,0.92,0.90,0.54,0.87
8,2020-09-01,0.62,0.91,0.65,0.50,0.94,0.28,0.01,0.31,0.74,0.83,0.19,0.21,0.51,0.09,0.51,0.60,0.60,0.70
9,2020-10-01,0.97,0.32,0.74,0.56,0.77,0.64,0.66,0.47,0.90,0.23,0.29,0.09,0.59,0.27,0.25,0.68,0.37,0.72
10,2020-11-01,0.57,0.82,0.40,0.46,0.08,0.27,0.40,0.80,0.17,0.88,0.82,0.22,0.19,0.53,0.14,0.72,0.92,0.79
11,2020-12-01,0.17,0.21,0.68,0.20,0.87,0.84,0.99,0.69,0.98,0.47,0.91,0.26,0.65,0.15,0.83,0.43,0.89,0.50