In [3]:
import pandas as pd
from utils.sheet_operator import expenses_sheet
from utils.gcp_operator import gcs_writer

In [5]:
df = expenses_sheet()

In [6]:
# ajustando a estrutura do DataFrame, removendo o cabeçalho e trazendo a 1a linha para as colunas
df.columns = df.iloc[0]
df = df[1:].reset_index().drop('index', axis=1)

In [7]:
# criando um dicionário para as categorias da planilha
categories_indices = df.index[df['filter'] == '1'].tolist()
categories_dict = dict()

for index in enumerate(categories_indices):
    next_index = df.index[-1] if index[0] == len(categories_indices)-1 else categories_indices[index[0]+1]
    category = df.iloc[index[1]]['Mês']
    categories_dict[category] = df.iloc[index[1]+1:next_index]['Mês'].tolist()

In [8]:
# removendo as categorias do DataFrame
df = df[df['filter'] != '1']
df = df.drop('filter', axis=1)

In [9]:
# ajustando a estrutura do DataFrame
df = df.transpose().reset_index()
df.columns = df.iloc[0]
df = df[1:].reset_index().drop('index', axis=1)

In [10]:
# ajustando as colunas de valores de gastos
for column in df.columns:
    if column != 'Mês':
        df[column] = df[column].str.strip().str.replace(r'^R\$', '', regex=True)
        df[column] = df[column].str.replace(r'\s+', '', regex=True)
        df[column] = df[column].str.replace(r'\.', '', regex=True)
        df[column] = df[column].str.replace(r',', '.', regex=True)
        df[column] = df[column].astype(float)

In [11]:
df['Mês'] = pd.to_datetime(df['Mês'])

/tmp/ipykernel_4176/3781474281.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Mês'] = pd.to_datetime(df['Mês'])

In [12]:
for i in categories_dict.keys():
    print(i)

DESPESAS COM PESSOAL
MENSAIS VARIÁVEIS - COBRADOS NO BOLETO CONDOMÍNIO
MENSAIS FIXO
MANUTENÇÃO E CONSERVAÇÃO - (Prováveis de ocorrer*)
DESPESAS DIVERSAS
DESPESAS ADMINISTRATIVAS

In [13]:
# criando dicionário para renomear colunas
rename_columns = {
    'Mês': 'mes',
    # DESPESAS COM PESSOAL
    'Total com Salários': 'total_salarios',
    'Total com Adiantamento salarial (sempre dia 20)': 'total_adiantamento_salarial',
    'Exame médico periódico': 'exame_medico_periodico',
    'Férias Vitamar': 'ferias_vitamar',
    'Férias Daniel': 'ferias_daniel',
    'Férias Fábio': 'ferias_fabio',
    'Férias Jailza': 'ferias_jailza',
    'Férias Joana': 'ferias_joana',
    'Férias Karla': 'ferias_karla',
    'Total com Décimo terceiro salário (1 parc - setembro)': 'decimo_terceiro_parcela_1',
    'Total com Décimo terceiro salário (2 parc - dezembro)': 'decimo_terceiro_parcela_2',
    'Ticket alimentação': 'ticket_alimentacao',
    'INSS': 'inss',
    'FGTS': 'fgts',
    'Pis sobre folha de pagamento': 'pis_folha_pagamento',
    'Vale Transporte': 'vale_transporte',
    'Seguro de vida dos funcionários': 'seguro_vida',
    'Uniformes': 'uniformes'
}

In [14]:
# renomeando colunas
columns = categories_dict['DESPESAS COM PESSOAL']
columns.insert(0, 'Mês')
df = df[columns].rename(columns=rename_columns)

In [15]:
gcs_writer(df, 'silver/expenses/employees.csv')

In [16]:
expenses_sheet()

   Unnamed: 0  ... Unnamed: 13
0      filter  ...     12-2020
1           1  ...         NaN
2         NaN  ...   R$  0,55
3         NaN  ...   R$  0,06
4         NaN  ...   R$  0,67
..        ...  ...         ...
64        NaN  ...   R$  0,13
65        NaN  ...   R$  0,88
66        NaN  ...   R$  0,68
67        NaN  ...   R$  0,86
68        NaN  ...   R$  0,59

[69 rows x 14 columns]

In [17]:
from utils.gcp_operator import gcs_reader
gcs_reader('silver/expenses/employees.csv')

           mes  total_salarios  ...  seguro_vida  uniformes
0   2020-01-01         7000.00  ...         0.50       0.27
1   2020-02-01            0.12  ...         0.68       0.83
2   2020-03-01            0.82  ...         0.26       0.46
3   2020-04-01            0.15  ...         0.67       0.60
4   2020-05-01            0.65  ...         0.64       0.17
5   2020-06-01            0.80  ...         0.48       0.22
6   2020-07-01            0.37  ...         0.37       0.72
7   2020-08-01            0.16  ...         0.53       0.36
8   2020-09-01            0.98  ...         0.37       0.12
9   2020-10-01            0.67  ...         0.54       0.05
10  2020-11-01            0.32  ...         0.41       0.83
11  2020-12-01            0.55  ...         0.37       0.76

[12 rows x 19 columns]